<button type="button" class="btn btn-secondary mt-3" onclick="window.history.back();">뒤로 가기</button>
<div class="container">
    <h2>기구 수정</h2>
    <form th:action="@{/admin/equipments/edit/{id}(id=${equipment.equipmentId})}" th:object="${equipment}" method="post">
        <div class="form-group">
            <label for="equipmentName">기구 이름:</label>
            <input type="text" id="equipmentName" name="equipmentName" th:value="*{equipmentName}" required/>
        </div>
        <div class="form-group">
            <label for="defaultCount">기본 횟수:</label>
            <input type="number" id="defaultCount" name="defaultCount" th:value="*{defaultCount}" required/>
        </div>
        <div class="form-group">
            <label for="defaultSet">기본 세트:</label>
            <input type="number" id="defaultSet" name="defaultSet" th:value="*{defaultSet}" required/>
        </div>
        <div class="form-group">
            <label for="defaultWeight">기본 무게:</label>
            <input type="number" id="defaultWeight" name="defaultWeight" th:value="*{defaultWeight}" required/>
        </div>
        <button type="submit" class="btn">수정하기</button>
    </form>
</div>
