<button type="button" class="btn btn-secondary mt-3" onclick="window.history.back();">뒤로 가기</button>
<div class="container mt-5">
    <h2 class="mb-4">기구 수정</h2>
    <form th:action="@{/admin/equipments/edit/{id}(id=${equipment.equipmentId})}" th:object="${equipment}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="equipmentName">기구 이름:</label>
            <input type="text" id="equipmentName" name="equipmentName" th:value="*{equipmentName}" required/>
        </div>
        <div class="form-group">
            <label for="defaultCount">기본 횟수:</label>
            <input type="number" id="defaultCount" name="defaultCount" th:value="*{defaultCount}" required/>
        </div>
        <div class="form-group">
            <label for="defaultSet">기본 세트:</label>
            <input type="number" id="defaultSet" name="defaultSet" th:value="*{defaultSet}" required/>
        </div>
        <div class="form-group">
            <label for="defaultWeight">기본 무게:</label>
            <input type="number" id="defaultWeight" name="defaultWeight" th:value="*{defaultWeight}" required/>
        </div>
        <div class="form-group">
            <label for="exerciseDescription">운동 설명:</label>
            <textarea id="exerciseDescription" name="exerciseDescription" th:text="${exercise.exerciseDescription}" required></textarea>
        </div>
        <div class="form-group">
            <label for="exerciseMethod">운동 방법:</label>
            <textarea id="exerciseMethod" name="exerciseMethod" th:text="${exercise.exerciseMethod}" required></textarea>
        </div>
        <div class="form-group">
            <label for="topImage">대표 이미지 (새 이미지 선택 시 업데이트):</label>
            <input type="file" id="topImage" name="topImage"/>
            <input type="hidden" name="originImage" th:value="${exercise.topImage}"/>
        </div>
        <button type="submit" class="btn btn-primary">수정하기</button>
    </form>
</div>