<div th:fragment="gymDetailsModal">
    <div id="gymDetailsModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">헬스장 상세 정보</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p th:text="'연락처: ' + ${gymDetails.contactNumber}"></p>
                    <p th:text="'사업자 등록번호: ' + ${gymDetails.businessNumber}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('#gymDetailsModal').modal('show');-->
<!--    });-->
<!--</script>-->