body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #87CEFA;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #87CEFA;
}

button {
    background-color: #87CEFA;
    color: white;
    padding: 8px 12px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.approve-button { /* 승인 버튼 */
    background-color: #007BFF; /* 파란색 */
    color: white;
}

.approve-button:hover {
    background-color: #0056b3;
}

.reject-button { /* 거부 버튼 */
    background-color: #f44336; /* 빨간색 */
    color: white;
}

.reject-button:hover {
    background-color: #da190b;
}
