<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="context-path" th:content="@{/}"/>
    <title>HM & SB Blog - Admin</title>
<!--     Common header-->
<!--    <th:block th:insert="common/include-link"></th:block>-->
<!--     Custom styles for sidebar-->
    <link th:href="@{/css/admin-sidebar.css}" rel="stylesheet">
    <link th:href="@{/css/pending.css}" rel="stylesheet">
</head>
<body>
<!-- Common script-->
<!--<th:block th:insert="common/include-script"></th:block>-->
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav th:replace="~{admin/sidebar :: sidebar}"></nav>

        <div id="content" class="content">
            <button type="button" id="sidebarCollapse" class="navbar-btn"><i class="fas fa-bars"></i></button>
            <hr>
            <!-- Page Content Holder -->
            <div th:replace="~{${template}}"></div>
        </div>
    </div>
</body>
</html>
